@import './colors.css';
@import './sizes.css';

@font-face {
  font-family: 'Satoshi';
  src:
    url('/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src:
    url('/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src:
    url('/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src:
    url('/fonts/Satoshi-Black.woff2') format('woff2'),
    url('/fonts/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-body: 'Satoshi', sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: var(--font-body);
  background-color: var(--elevation-0);
  color: var(--color-text-high);
  padding: 0;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
